<footer class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-info">
          <div class="logo-text">
            <span class="primary">Auto</span><span class="secondary">Tag</span>
          </div>
          <p class="copyright">© {{ currentYear }} Auto Tag. All rights reserved.</p>
        </div>
        
        <div class="footer-contact">
          <button class="btn btn-secondary">CONTACT US</button>
        </div>
      </div>
    </div>
  </footer>